<!-- <app-nav></app-nav> -->
<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="\">
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<br>
<br>

<mat-slider min="0" max="5" step="0.1" value="1.5" showTickMarks discrete [displayWith]="formatLabel">
    <input matSliderThumb>
</mat-slider> -->

<ckeditor [editor]="Editor"></ckeditor>